.menu {
    width: 100%vw;
    height: 8vh;
    padding: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu section {
    height: inherit;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.menu section * {
    max-height: 100%;
}
.menu section a.button {
    color: white;
    font-size: 1em;
    font-family: 'DejaVu Sans', sans-serif;
    padding: 12px;
    text-decoration: none;
}
.menu section a.button:hover {
    text-decoration: currentColor underline;
}
.menu section a.button:hover {
    background-color: rgba(128, 128, 128, 0.651);
}
.menu section a.icon, .menu section a.icon img {
    height: 6vh;
}
.menu section.right {
    justify-content: flex-end;
}