$bg: #ffffff
$accentBg: gray  
$contraryBg: #ff00b1ff

$buttonColor: #000000
$buttonBackground: #ffffff
$buttonBorder: #ff00b1ff


$buttonColorActive: #ffffff
$buttonBackgroundActive: #ff00b1ff
$buttonBorderActive: #ffffff


$text: black

.bg
  background-color: $bg
.accentBg
  background-color: $bg
.text
  color: $text
.border.bbottom
  border-bottom-color: $contraryBg
.button
  color: $buttonColor
  border-color: $buttonBorder !important
  background-color: $buttonBackground
.button:active, .button:focus, button:hover
  color: $buttonColorActive
  border-color: $buttonBorderActive !important
  background-color: $buttonBackgroundActive

.menu img
  background-color: #ff00b1ff
  width: 100%
  color: white

.menu .buttons
  background-color: #ff00b1ff

.search
  background-color: $bg
  color: $text